#contact{
    float: left;
    width: 25%;
    height: auto;
    text-align: left;
    padding: 20px;
    background-color: hsl(241, 57%, 64%);
}
#contactus form table tbody tr td #message{
    resize: both;
    overflow: auto;
    height: 300px;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}
#contactus form table tbody tr td input{
    width: 250px;
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
}
#contactus form table tbody tr td{
    vertical-align: top;
    padding: 10px;
}